body{
    display: flex;
    flex-direction: column;
}

.contacts-list-container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-left: 70px;
    margin-right: 70px;
    border: 1px solid gray;
    overflow-y: scroll;
}

#contacts-list{
    width: 95%;
    margin: 10px;
    border-spacing:0 25px;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    margin-right: 70px;

}

.name-form{
    width: 30vw;
}

.phone-form{
    width: 30vw;
    margin: 5px;
}

.button-form{
    width: 30vw;
}

.form p{
    margin: 2px;
    color: gray;
}

.form input{
    width: 95%;
    height: 25px;
}

#add{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    background-color: green;
    border-radius: 10px;
    border: none;
    color: aliceblue;
}

.data {
    color: rgb(53, 53, 53);
    font-size: 16px;
    margin-left: 50px;
}
tr {
    background-color: rgb(240, 240, 240);
}
.button-container{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
td button {
    padding: 15px;
    background-color: rgb(0, 155, 34);
    border: none;
    border-radius: 6px;
    color: azure;
}