.container{
    display: flex;
}
.categories{
    width: 22vw;
    border-radius: 10px;
    padding: 20px;
    border: solid gray 1px;
}
ul {
    list-style: none;
    padding: 0px 0px 0px 20px;
}
.chevron{
    cursor: pointer;
}
.categories-list{
    margin-bottom: 10px;
}
.products{
    margin-left: 20px;
}
.main{
    width: 50vw;
    height: 100vh;
    margin-left: 10px;
    border-radius: 10px;
    border: solid gray 1px;
}